<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Intern Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Intern Management System</h1>
		<hr>
		<h2>Save Intern</h2>

		<form action="#" th:action="@{/internlist/saveIntern}" th:object="${intern}"
			method="POST">
			<input type="text" th:field="*{name}"
				placeholder="Intern First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{surname}"
				placeholder="Intern Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{age}"
				placeholder="Intern age" class="form-control mb-4 col-4">

			<input type="text" th:field="*{hobby}"
				   placeholder="Intern hobby" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Intern</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/internlist}"> Back to Intern List</a>
	</div>
</body>
</html>