
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container text-center">
    <div><h1>Welcome to List of Members</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/userslist/users}">list Users</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/employeelist}">list of Employee</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/internlist}">list of Interns</a>
    </div>
</div>
</body>
</html>